@inherits DittoView<ContentPage>

<a href="/">Home</a>

<section>
    <h1>@Model.View.Title</h1>
    <p>@Model.View.PublishDate.ToString("f")</p>
    <p>@Model.View.BodyText</p>
    
    
    @if (Model.View.Departments != null)
    {
        <ul>
            @foreach (var dept in Model.View.Departments)
            {
                <li>@dept</li>
            }
        </ul>
    }
   
</section>