body {
	font-family: sans-serif;
}

div.primaryNavigation {
	width: 100%;
	background-color: #efefef;
	padding: 5px;
}

div.attributes {
	width: 90%;
	border: 2px solid #000;
	margin-bottom: 10px;
	padding: 5px;
}

	div.attributes table {
		width: 100%;
	}

		div.attributes table th {
			width: 20%;
			text-align: left;
			background-color: #efefef;
		}

div.propertyType {
	width: 90%;
	border: 1px solid #333;
	margin-bottom: 10px;
	padding: 5px;
}

div.newsSnippet {
	width: 98%;
	background-color: #efefef;
	margin-bottom: 10px;
	padding: 5px;
	overflow: hidden;
}

	div.newsSnippet div.image {
		width: 200px;
		margin-right: 5px;
		float: left;
	}

	div.newsSnippet div.content {
		width: 80%;
		float: left;
	}

div.heroCollection {
	width: 100%;
	overflow: hidden;
}

	div.heroCollection div.hero {
		float: left;
		width: 300px;
		margin: 5px;
	}
