@model IEnumerable<TreeNode>
@if (Model.Any())
{
    foreach (var item in Model)
    {
        if (item.Current)
        {
            <b>@item.Name</b>
        }
        else
        {
            <a href="@item.Url">@item.Name</a> <text>></text>
        }
    }
}