@model IEnumerable<TreeNode>
@if (Model.Any())
{
    foreach (var item in Model)
    {
        <a href="@item.Url">@item.Name</a>
        if (item.Id != Model.Last().Id)
        {
            <text> | </text>
        }
    }
}